.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.grid-wrapper {
  width: 60%; /* Adjust the width of the wrapper as needed */
  height: 800px; /* Set the height of the parent container */
  margin: 0 auto; /* Center the wrapper horizontally */
  background-color: #f9f9f9; /* Optional: Background color for the container */
  display: flex; /* To help align the grid container inside */
  justify-content: center;
  align-items: center;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns, each taking equal space */
  grid-template-rows: repeat(3, 1fr); /* 3 rows, each taking equal space */
  gap: 0; /* No gap between the grid items */
  width: 100%; /* Full width of the viewport */
  height: 100%; /* Full height of the viewport */
}

.button-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap:0;
  height: 100%;
}

.square {
  background-color: #f0f0f0; /* Light background color */
  display: flex;
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
  border: 1px solid #ccc; /* Optional: Border around each item */
  font-size: 24px; /* Size of the text inside the grid items */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
